.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 49px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
  z-index: 1;
}

.title {
  font-size: 72px;
  font-weight: 900;
  margin-bottom: 33px;
  font-family: var(--font-roboto);
  background: linear-gradient(
    90deg,
    rgba(165, 215, 232, 0.42) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contactBtn {
  font-size: 22px;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.contactBtn:hover {
  background-color: var(--primary-color-dark);
}

.downloadBtn {
  font-size: 22px;
  padding: 10px 20px;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.downloadBtn:hover {
  background-color: var(--secondary-color-dark);
}

.buttons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}