* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body.light-mode {
  --color-bg: #f5f5f5;
  --color-text: #222;
  --color-primary: #576cbc;
  --color-secondary: #19376d;
}

body.dark-mode {
  --color-bg: #04152d;
  --color-text: #fff;
  --color-primary: #4a90e2;
  --color-secondary: #2c3e50;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
}
